{% extends 'base.html.twig' %}

{% block title %} Créer une tâche - TaskLinker {% endblock %}

{% block body_class_projects %}class="active"{% endblock %}

{% block header %}
    <h1>Créer une tâche</h1>
{% endblock %}

{% block body %}
    <div id="content">
        {{ form_start(form, { 'attr' : { 'name': 'task' }}) }}
            <div>
                {{ form_row(form.title) }}
            </div>
            <div>
                {{ form_row(form.description) }}
            </div>
            <div class="form-flex">
                <div>
                    {{ form_row(form.date) }}
                </div>
                <div>
                    {{ form_row(form.status) }}
                </div>
            </div>
            <div>
                {{ form_row(form.employee, {  'placeholder': '' }) }}
            </div>
            <br>
            <button class="button button-submit">Ajouter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
