{% extends 'base.html.twig' %}

{% block title %} Gestion des droits d'accès - TaskLinker {% endblock %}

{% block body_class_projects %}class="active"{% endblock %}

{% block header %}
    <h1>Gestion des droits d'accès</h1>
{% endblock %}

{% block body %}
    <div id="content">
        {{ form_start(form, { 'attr' : { 'name': 'task' }}) }}
            <div>
                {{ form_row(form.title) }}
            </div>
            <div>
                {{ form_row(form.description) }}
            </div>
            <div class="flex-form">
                <div>
                    {{ form_row(form.date) }}
                </div>
                <div>
                    {{ form_row(form.status) }}
                </div>
            </div>
            <div>
                {{ form_row(form.employee) }}
            </div>
            <br>
            <button class="button button-submit">Modifier</button>
            <a href="{{ path('app_task_delete', { id: task.id }) }}" class="delete-task">Supprimer la tâche</a>
        {{ form_end(form) }}
    </div>
{% endblock %}